<!-- templates/home/index.html.twig -->

{% extends 'layout.html.twig' %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Welcome to My Website!</h1>
    <!-- Add home page specific content here -->
{% endblock %}
